
===================================================================
93_Deepfake_Detector_Model_from_train2_thai.h5 with valid
===================================================================
Result:
positive_fake / total_fake: 3978 / 10000
accuracy_fake: 39.78%

positive_real / total_real: 9839 / 10000
accuracy_real: 98.39%
====================================================================

    
===================================================================
95_Deepfake_Detector_Model_from_train2_thai.h5 with valid
===================================================================
Result:
positive_fake / total_fake: 0 / 10000
accuracy_fake: 0.0%

positive_real / total_real: 10000 / 10000
accuracy_real: 100.0%
====================================================================

    
===================================================================
98_99_V2_Deepfake_Detector_Model_david.h5 with test
===================================================================
Result:
positive_fake / total_fake: 0 / 10000
accuracy_fake: 0.0%

positive_real / total_real: 9999 / 10000
accuracy_real: 99.99%
====================================================================

    
===================================================================
93_Deepfake_Detector_Model_from_train2_thai.h5 with test
===================================================================
Result:
positive_fake / total_fake: 4032 / 10000
accuracy_fake: 40.32%

positive_real / total_real: 9844 / 10000
accuracy_real: 98.44000000000001%
====================================================================

    
===================================================================
95_Deepfake_Detector_Model_from_train2_thai.h5 with test
===================================================================
Result:
positive_fake / total_fake: 0 / 10000
accuracy_fake: 0.0%

positive_real / total_real: 10000 / 10000
accuracy_real: 100.0%
====================================================================

    
===================================================================
98_99_V2_Deepfake_Detector_Model_david.h5 with valid
===================================================================
Result:
positive_fake / total_fake: 0 / 10000
accuracy_fake: 0.0%

positive_real / total_real: 9997 / 10000
accuracy_real: 99.97%
====================================================================

    