

h1{
  padding-top: 80px;
  color:rgb(88, 84, 84);
  font-weight: bold;
  padding-bottom: 50px;
}

.container {
  text-align: center;

}

.custom-file{
  position: relative;
  left: 20px;

}

.background{
  background-size: cover;
  background-color: rgb(208, 228, 236);
  height: 1000px;

}

.btn{
  position: relative;
  right: 20px;
  width: 250px;
  background-color: rgb(208, 228, 236);
 
}
.alert{
  font-size: small;
  color: rgb(7, 7, 7);
  position: relative;
  right: 10px;
  font:bolder;

}


